<main class="c-main">
  <ul class="c-list" id="list" aria-roledescription="accordion">
    <li class="c-list__item">
      <section class="c-card">
        <header class="c-card__header">
          <h2 class="c-card__title" id="firstAccordionTitle">First Item</h2>
          <button class="c-card__toggle" aria-label="toggle" aria-controls="firstAccordionContent" aria-expanded="false" type="button">
            <span class="i-chevron" aria-hidden="true"></span>
          </button>
        </header>
        <article class="c-card__content" id="firstAccordionContent" aria-labelledby="firstAccordionTitle" aria-hidden="true">
          <p class="c-card__text">Against begging blizzard bum carrion cigar collector craze cynical earwig indignant insecure instrument.</p>
          <p class="c-card__text">Knowledge mooch smoking tomato trying ultra.</p>
        </article>
      </section>
    </li>
    <li class="c-list__item">
      <section class="c-card">
        <header class="c-card__header">
          <h2 class="c-card__title" id="secondAccordionTitle">Second Item</h2>
          <button class="c-card__toggle" aria-label="toggle" aria-controls="secondAccordionContent" aria-expanded="false" type="button">
            <span class="i-chevron" aria-hidden="true"></span>
          </button>
        </header>
        <article class="c-card__content" id="secondAccordionContent" aria-labelledby="secondAccordionTitle" aria-hidden="true">
          <p class="c-card__text">Accident badge blank cherry chronicles city cosmic culprit garment goo grape lemons limited maiden piece racer slang system weight yankee.</p>
          <p class="c-card__text">Alliance beast gravy hose infatuation nympho orphan revolver velcro verbose wanking.</p>
        </article>
      </section>
    </li>
    <li class="c-list__item">
      <section class="c-card">
        <header class="c-card__header">
          <h2 class="c-card__title" id="thirdAccordionTitle">Third Item</h2>
          <button class="c-card__toggle" aria-label="toggle" aria-controls="thirdAccordionContent" aria-expanded="false" type="button">
            <span class="i-chevron" aria-hidden="true"></span>
          </button>
        </header>
        <article class="c-card__content" id="thirdAccordionContent" aria-labelledby="thirdAccordionTitle" aria-hidden="true">
          <p class="c-card__text">Almost blues code deceiving deduction detachable ectoplasm intuition.</p>
          <p class="c-card__text">Lucrative lunatic maneuver parade perky rabid rut sick standing talented thumb tron unlucky vacuous vague waffle.</p>
        </article>
      </section>
    </li>
    <li class="c-list__item">
      <section class="c-card">
        <header class="c-card__header">
          <h2 class="c-card__title" id="fourthAccordionTitle">Fourth Item</h2>
          <button class="c-card__toggle" aria-label="toggle" aria-controls="fourthAccordionContent" aria-expanded="false" type="button">
            <span class="i-chevron" aria-hidden="true"></span>
          </button>
        </header>
        <article class="c-card__content" id="fourthAccordionContent" aria-labelledby="fourthAccordionTitle" aria-hidden="true">
          <p class="c-card__text">98-karat stick shift and he knows just how to flaunt it and he's talking to me and my bags are waiting in the next life cabos.</p>
          <p class="c-card__text">Sueltos enlazan mi cabeza doesn't wanna take me everything i do, is just try to fuck you up hand grenades in the trash.</p>
        </article>
      </section>
    </li>
  </ul>
</main>
