
      <div class="vote-container"> 
             
           <h4>¿Te sirvió el contenido?</h4>

                  <a class="like"><i class="fa fa-thumbs-o-up"></i>  
                      <input class="qty1" name="qty1" readonly="readonly" type="text" value="130" />
                  </a>
                
                  <a class="like"><i class="fa fa-thumbs-o-down"></i>  
                      <input class="qty1" name="qty1" readonly="readonly" type="text" value="30" />
                  </a>
 
      </div>
    


<script src="https://use.fontawesome.com/2903eb4599.js"></script>
      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
