<section class="vote_count" >

     <div class="wrapper">
            <div class="poll-box">
              <div class="poll-container">
                <div class="poll-question">¿Le ayudó este documento?</div>
                <div class="poll-panel row mt-30">
                  <div class="btn poll-panel-btn" aria-role="button" data-result="0" data-vote="0"> <span>Si</span></div>
                  <div class="btn poll-panel-btn" aria-role="button" data-result="0" data-vote="1"> <span>No</span></div>
                </div>
              </div>
            </div>
          </div>

</section>