@font-face {
    font-family: "Lederman";
    src: url("../fonts/Lederman/Lederman-Regular.woff2") format("woff2"),
        url("../fonts/Lederman/Lederman-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fff none !important;
    
}

* {
    font-family: "Lederman", sans-serif !important;
  
}

.title.header.typo_ostrich {
    border-bottom: 1pt solid #666d73;
    padding-bottom: 18px;
    
}

main.sg-main {
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 17px;
}

.head {
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
    page-break-before: always;
}

#wrapper {
    clear: both !important;
    display: block !important;
    float: none !important;
    position: relative !important;
}

img {
    margin: 30px auto;
    display: block;
    min-width: 45%;
    max-width: 70%;
    page-break-inside: avoid;
}

.sg_sidebar {
    display: none;
}

.row.no-gutters {
    display: none;
}

.sg_doc .sg_contain h1:after {
    content: "arrow_back";
    display: none;
}

h1 {
    font-size: 30px;
    page-break-before: always;
}

h2 {
    margin-top: 0.7cm;
    font-size: 16px;
    color: #666d73;
}

.TableGrid {
    margin: 25px auto;
    width: 90% !important;
    margin-left: auto !important;
    page-break-inside: avoid;
}

ul,
ol,
dd,
p,
hr {
    margin-bottom: 1rem;
    text-align: justify;
    color: #666d73;
}

div.saltopagina {
    display: block;
    page-break-before: always;
}
