// Base Colors
$base-font-color: #515151;
$heading-font-color:  #079fa0;      // @CHANGE
$subheading-font-color: $grey;

$highlighter-font-color: #FFFFFF;
$link-color: #515151;
$masthead-font-color: #079fa0;
$sidebar-color: #079fa0;
$background-color-blockquote: #079fa00d;
$alert-font-color: #EA0443;
$related-font-color: #091f3e;
