// Base Colors
$base-font-color: #515151;
$heading-font-color:  #222743;      // @CHANGE
$subheading-font-color: $grey;

$highlighter-font-color: #FFFFFF;
$link-color: #515151;
$masthead-font-color: #222743a0;
$sidebar-color: linear-gradient(351deg, #1B1532 21.93%, #2B238C 78.07%);
$background-color-blockquote: #079fa00d;
$alert-font-color: #EA0443;
$related-font-color: #091f3e;
