// Base Styles
html#sg,
body#sg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  background: $white;
}

body#sg {
  position: relative;
  color: $base-font-color;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -ms-font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  font-feature-settings: "kern" 1,"liga" 1,"frac" 1,"pnum" 1;
  -webkit-font-smoothing: antialiased;
}
.sg-pusher {
  position: relative;
  min-height: 100%;
  margin: 0 $margin_large;

  @media only screen and (max-width: $medium_screen) {
    margin: 0 $margin;
  }
}

.highlight
{
  background-color: yellow;
}
pre.highlight
{
  background: #232020;
}

// Sidebar Button Styles
.sg_sidebar_button {
  display: none;

  @media only screen and (max-width: $large_screen) {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    line-height: 1;
    margin: $margin 0;
    left: 0;
    position: absolute;
    display: block;
    z-index: 1;
    color: $heading-font-color;

    .icon {
      font-size: inherit;
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: $large_screen) {
  .sg-pusher.show_sidebar {
    width: 100%;
    overflow: hidden;
    margin: 0;

    .sg_sidebar_button {
      left: $left_rail + 20;
      color: $blue;
    }
    .sg_sidebar {
      width: $left_rail;
      left: 0;
    }
    .sg-main {
      position: absolute;
      left: $left_rail + 20;
      opacity: .2;
    }
  }
}
@media only screen and (max-width: $small_screen) {
  .sg-pusher.show_sidebar {
    width: 100%;
    overflow: hidden;
    margin: 0;

    .sg_sidebar_button {
      left: $left_rail - 30;
    }
    .sg_sidebar {
      width: $left_rail - 50;
      left: 0;
    }
    .sg-main {
      position: absolute;
      left: $left_rail - 30;
      opacity: .2;
    }
  }
}
// Sidebar Position
.sg_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: $left_rail;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @media only screen and (max-width: $large_screen) {
    left: -$left_rail;
  }
}

/* References */
.contenido {
  padding: 20px;
  padding-left: 260px;
  max-width: 700px;
}

.contenido .control {
  cursor: pointer;
  font-size: 12px;
  margin-left: 15px;
}

.contenido article {
  clear: both;
  margin: 15px 0;
}

.contenido article > a {
  background: #333;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  display: block;
  padding: 15px;
}
.contenido article > a:hover {
  background: #222;
  text-decoration: none;
}

.contenido a h2 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.contenido a h2 code {
  float: right;
  font-size: 14px;
}

.contenido a h2 code b {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #fff;
  font-weight: normal;
  padding: 3px 6px;
}

/* Default */
.contenido article {
  border-color: #e2e7ea;
}

.contenido article a h2 code {
  color: #657e8b;
}

.contenido article a h2 code b {
  background: #657e8b;
  text-transform: uppercase;
}

/* GET */
.contenido article.GET a h2 code {
  color: #119bdf;
}

.contenido article.GET a h2 code b {
  background: #119bdf;
}

/* POST */
.contenido article.POST a h2 code {
  color: #52ce0e;
}

.contenido article.POST a h2 code b {
  background: #52ce0e;
}

/* PUT */
.contenido article.PUT a h2 code {
  color: #e08f10;
}

.contenido article.PUT a h2 code b {
  background: #e08f10;
}

/* DELETE */
.contenido article.DELETE a h2 code {
  color: #e02a10;
}

.contenido article.DELETE a h2 code b {
  background: #e02a10;
}

/* Reference's body */
#contenido h3 {
}

#contenido .body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #eef1f2;
  box-sizing: border-box;
  display: block;
  padding: 15px 15px 0;
  width: 100%;
}

#contenido .body code {
  border: 1px solid #e2e7ea;
  background: #eef1f2;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #546974;
  padding: 0 1px;
}

#contenido .body p > code {
  display: block;
  padding: 15px;
  white-space: pre;
}
.sg-main {
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.sg_contain {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 $right_rail 0 $left_rail + 12;

  @media only screen and (max-width: $extended_screen) {
    max-width: 52rem;
    padding: 0 0 0 $left_rail + 20;
  }
  @media only screen and (max-width: $large_screen) {
    padding: 0;
  }
}
