.pdf {
    border: 2px solid #0059FF;
    border-radius: 4px;
}

.pdf h1{
    font-size: 17px;
    color: #0059FF;
    margin-left: 55px;
    margin-right: 10px;
    text-decoration: none;
    margin-top: 9px;
    margin-bottom: 9px;
}
#convertPDF {
    background-color: transparent;
    text-decoration: none;
}  
#convertPDF>img {
   width: 37px;
    padding-top: 8px;
    position: absolute;
    padding-left: 10px;
 }
.col-auto {
    padding-bottom: 16px;
}
