blockquote {
    border-left: 4px solid #f00;
    border-color: $heading-font-color;
    color: $heading-font-color;
    background-color: #cecece42; 
    font-weight: normal;
    cursor: pointer;
    padding-bottom: 8px;
    font-size: 15px;
    line-height: 1.428571429;
    padding: 9px 12px;
    font-weight: normal;
}
