blockquote {
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid #eee;
  color: #333;
  background: white;
}
.blockquote h6 {
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid #eee;
  color: #333;
  background: white;
  }



