blockquote {
    border-left: 4px solid #f00;
    border-color: #079fa0;
    color: #079fa0;
    background-color: #079fa00d;
    font-weight: normal;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.428571429;
    padding: 19px 0px 1px 12px;
    font-weight: lighter;
    margin-left: 1px;
    position: relative;
    margin-right: 1px;
}

.h6 {
    color: #091f3e;
    margin-left: 16px;
    font-size: 15px;
    font-weight: normal;

}
