details {
    display: block;
    overflow: hidden;
    padding: 11px;
    color: $heading-font-color;
    background-color: $background-color-blockquote;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
    border-radius: 3px;
 }
summary {
    display: block;
}
