details {
    display: block;
    overflow: hidden;
    padding: 11px;
    color: #8a5cf5;
    background-color: #dfd1ff;
    border-color: #079fa005;
    border-style: solid;
    cursor: pointer;
    font-size: 16px;
 }
summary {
    display: block;
}
