section.vote_count {
    display: block;
    width: 100%;
    position: relative;
    border-radius: 0.2rem;
    margin: 1.5rem 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%);
    box-sizing: border-box;
    display: grid;
    padding: 0 300px 0 312px;
}