* 

    body{
        background-image: linear-gradient(to right, #accbee 0%, #e7f0fd 100%);
        width:100%;
        height:100%;
    }
    
    .vote-container {
     
        padding: 0 45px 0 44px;
        display: flex;
        background: #091f3e08;
        color: #727E89;
        margin-bottom: 36px;
        font-size: 22px;
        border-radius: 4px;
    
    }
    
    .like {

        color: #000;
        cursor: pointer;
        background: #f6f6f6
    }

    .dislike {

        color: #000;
        cursor: pointer;
        background: #f6f6f6

    }

    .qty1, .qty2 {
        width: 49px;
        background: white;
        color: #2099e8;
        background-color: #fff;
        border: 0.5px solid #e9e6e6;
        border-radius: 4px;
   
    }

    .note-count {
        color: #515151;
        border-left: 4px solid #2099e8;
        padding: 4px 16px;
        margin-bottom: 36px;
        margin-top: 18px;
    
    }

    .vote-container h4 {
     
        color: #727E89;
        margin-bottom: 36px;
        font-size: 17px;
    
    }